<body class=" hasGoogleVoiceExt">
  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="span2">
        </div>
      </div>

      <div class="span10">
        <!-- Mobile Menu -->
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>

        <!-- Standard Menu -->
        <nav id="menu">
          <ul id="menu-nav" class="sf-js-enabled sf-arrows">
            <li><a href="index.html">Home</a></li>
            <li class=""><a href="elements.html" class="sf-with-ul">Features</a>
              <ul class="sub-menu arrow-up" style="float: none; width: 12em; display: none;">
                <li style="white-space: normal; float: none; width: 100%;"><a href="full-width.html" style="float: none; width: auto;">Full Width</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="about.html" style="float: none; width: auto;">About Us</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="team.html" style="float: none; width: auto;">Our Team</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="elements.html" style="float: none; width: auto;">Elements</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="typography.html" style="float: none; width: auto;">Typography</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="retina-icons.html" style="float: none; width: auto;">Retina Icons</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="footer-widgets.html" style="float: none; width: auto;">Footer Widgets</a></li>
              </ul>
            </li>
            <li class=""><a href="portfolio.html" class="sf-with-ul">Portfolio</a>
              <ul class="sub-menu" style="float: none; width: 12em; display: none;">
                <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio-2-clm.html" style="float: none; width: auto;">2 Columns</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio-3-clm.html" style="float: none; width: auto;">3 Columns</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio.html" style="float: none; width: auto;">4 Columns</a></li>
                <li style="white-space: normal; float: none; width: 100%;"><a href="single-project.html" style="float: none; width: auto;">Single Project</a></li>
              </ul>
            </li>
            <li><a href="blog.html" class="sf-with-ul">Blog</a>
              <ul class="sub-menu" style="float: none; width: 12em; display: none;">
                <li style="white-space: normal; float: none; width: 100%;"><a href="blog-single.html" style="float: none; width: auto;">Single Post</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<nav id="navigation-mobile" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul id="menu-nav-mobile">
          <li><a href="index.html">Home</a></li>
          <li><a href="elements.html">Features</a>
            <ul class="sub-menu arrow-up">
              <li><a href="full-width.html">Full Width</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="retina-icons.html">Retina Icons</a></li>
              <li><a href="footer-widgets.html">Footer Widgets</a></li>
            </ul>
          </li>
          <li><a href="portfolio.html">Portfolio</a>
            <ul class="sub-menu">
              <li><a href="portfolio-2-clm.html">2 Columns</a></li>
              <li><a href="portfolio-3-clm.html">3 Columns</a></li>
              <li><a href="portfolio.html">4 Columns</a></li>
              <li><a href="single-project.html">Single Project</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-single.html">Single Post</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul></div></div></div>
      </nav>
      <!-- End Header -->
      <h1>Hello awesome Grubly users!</h1>
          <!-- Start Intro Box -->
          <section id="intro-box" class="margin-80">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <h3>We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back.</h3>
                  <span class="arrow"></span>
                </div>
              </div>
            </div>
          </section>
          <!-- End Intro Box -->

          <!-- Start Services Box -->
          <section id="services-box" class="margin-80">
            <div class="container">
              <div class="row">
                <div class="span4">
                  <a class="box" href="#">
                    <div class="icon">
                      <i class="font-icon-adjust"></i>
                    </div>
                    <h4>Fresh and Clean Design</h4>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                  </a>
                </div>

                <div class="span4">
                  <a class="box" href="#">
                    <div class="icon">
                      <i class="font-icon-cog"></i>
                    </div>
                    <h4>Easily Customization</h4>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                  </a>
                </div>

                <div class="span4">
                  <a class="box" href="#">
                    <div class="icon">
                      <i class="font-icon-resize-small"></i>
                    </div>
                    <h4>Fully Responsive</h4>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!-- End Services Box -->

          <!-- Start Latest Works -->
          <section id="latest-work">
            <span class="arrow-down"></span>
            <span class="arrow"></span>

            <div class="container">
              <div class="row">
                <div class="span12">
                  <h3>Latest Works</h3>
                </div>
              </div>

              <div class="row">

                <ul id="latest-work-thumbs">

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">Hummingbird</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox" href="_include/img/portfolio/full/12.jpg" data-fancybox-group="gallery" title="Hummingbird">
                      <img src="_include/img/portfolio/thumb/12.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">Secret App Icon</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox" href="_include/img/portfolio/full/01.jpg" data-fancybox-group="gallery" title="Secret App Icon">
                      <img src="_include/img/portfolio/thumb/01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">One Minute Wonder</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox-media" href="http://vimeo.com/50834315" data-fancybox-group="video" title="One Minute Wonder">
                      <img src="_include/img/portfolio/thumb/05.jpg" alt="One Minute Wonder">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">Hotel.cz Icon</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox" href="_include/img/portfolio/full/03.jpg" data-fancybox-group="gallery" title="Hotel.cz Icon">
                      <img src="_include/img/portfolio/thumb/03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">ShapeShifter</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox-media" href="http://vimeo.com/18439821" data-fancybox-group="video" title="ShapeShifter">
                      <img src="_include/img/portfolio/thumb/06.jpg" alt="ShapeShifter">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                  <li class="work-item-thumbs span4">
                    <h5>
                      <a href="single-project.html">Mail</a>
                      <span class="arrow-port"></span>
                    </h5>

                    <a class="hover-wrap fancybox" href="_include/img/portfolio/full/11.jpg" data-fancybox-group="gallery" title="Mail">
                      <img src="_include/img/portfolio/thumb/11.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
                      <div class="overlay"></div>
                      <i class="font-icon-plus"></i>
                    </a>
                  </li>

                </ul>

              </div>


            </div>
          </section>
          <!-- End Latest Works -->

          <!-- Start Latest Works -->
          <section id="latest-blog">
            <div class="container">

              <div class="row">
                <div class="span12">
                  <h3>Latest Post</h3>
                </div>
              </div>

              <div class="row">

                <article class="post span4">
                  <div class="post-thumb">
                    <a class="hover-post" href="blog-single.html">
                      <img src="_include/img/misc/08-t.jpg" alt="Image Preview">
                      <div class="overlay"></div>
                      <i class="font-icon-link"></i>
                    </a>
                  </div>

                  <h2 class="entry-title">
                    <a href="blog-single.html">What about a fun post?</a>
                  </h2>

                  <div class="entry-content">
                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis…</p>
                  </div>

                  <div class="entry-meta">
                    <span class="published">April 25, 2013</span>
                    <span class="divider">/</span>
                    <a href="blog-single.html">2 Comments</a>
                  </div>
                  <div class="separator"></div>
                </article>

                <article class="post span4">
                  <div class="post-thumb">
                    <a class="hover-post" href="blog-single.html">
                      <img src="_include/img/misc/09-t.jpg" alt="Image Preview">
                      <div class="overlay"></div>
                      <i class="font-icon-link"></i>
                    </a>
                  </div>

                  <h2 class="entry-title">
                    <a href="blog-single.html">Light Shine</a>
                  </h2>

                  <div class="entry-content">
                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis…</p>
                  </div>

                  <div class="entry-meta">
                    <span class="published">April 25, 2013</span>
                    <span class="divider">/</span>
                    <a href="blog-single.html">2 Comments</a>
                  </div>
                  <div class="separator"></div>
                </article>

                <article class="post span4">
                  <div class="post-thumb">
                    <a class="hover-post" href="blog-single.html">
                      <img src="_include/img/misc/10-t.jpg" alt="Image Preview">
                      <div class="overlay"></div>
                      <i class="font-icon-link"></i>
                    </a>
                  </div>

                  <h2 class="entry-title">
                    <a href="blog-single.html">Surprise</a>
                  </h2>

                  <div class="entry-content">
                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis…</p>
                  </div>

                  <div class="entry-meta">
                    <span class="published">April 25, 2013</span>
                    <span class="divider">/</span>
                    <a href="blog-single.html">2 Comments</a>
                  </div>
                  <div class="separator"></div>
                </article>

              </div>

            </div>
          </section>
          <!-- End Latest Works -->

          <!-- Start Twitter Feed -->
          <section id="twitter-feed">
            <span class="arrow-down"></span>
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div class="twitter-list" data-count="1"><ul class="tweet_list"><li class="tweet_first tweet_odd"> <span class="tweet_text"><span class="at">@</span><a href="http://twitter.com/hierarchical">hierarchical</a> have you change the username into main.js?</span><span class="tweet_time"><a href="http://twitter.com/Bluxart/status/394046370308296704" title="view tweet on twitter">about 5 days ago</a></span></li></ul></div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Twitter Feed -->

          <!-- Start Footer -->
          <footer>
            <div class="container">
              <div class="row">
                <nav id="social-footer">
                  <ul>
                    <li><a href="https://twitter.com/Bluxart"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/atzenialessio"><i class="font-icon-social-facebook"></i></a></li>
                    <li><a href="http://dribbble.com/Bluxart"><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="http://www.behance.net/alessioatzeni"><i class="font-icon-social-behance"></i></a></li>
                    <li><a href="http://themeforest.net/user/Bluxart"><i class="font-icon-social-envato"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </footer>
          <!-- End Footer -->

          <!-- Start Credits -->
          <section id="footer-credits">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <p class="credits">© 2013 Anubis. All rights reserved. Template by <a href="http://www.alessioatzeni.com">Alessio Atzeni</a>.</p>
                </div>
              </div>
            </div>
          </section>
          <!-- End Credits -->

          <!-- Back To Top -->
          <a id="back-to-top" href="#" style="display: none;">
            <i class="font-icon-arrow-simple-up"></i>
          </a>
          <!-- End Back to Top -->

          <!-- Js -->

          <!-- End Js -->
  </body>
</html>
