<div class="contentsection" id="header" style="50% 0 no-repeat; height:645px;">
  <div class="content">
    <h1>Never Miss Your <br>Favorite Dish</h1>
    <p><strong>How much is left of your favorite dish? Call dibs by ordering with Grubly!</strong></p>
    <%= link_to "Find a Restaurant", restaurants_path, class: "button" %>
  </div>
</div>
<div class="contentsection dark" style="background:url(images/mastimage.jpg) 50% 50px no-repeat;">
  <div class="content">
    <div class="stage">
      <h1>Specials</h1>
      <p class="events">Check out the hot and trending deals by Restaurants in your area!</p><br>
      <div id="contentright">
        <div id="slideshow" class="flexslider">
          <ul class="slides">
            <li><img alt="project" src="images/Background_food_1.jpg" class="roid"/>
              <p class="flex-caption">Hey, is that a hair in my salad?</p>
            </li>
            <li>
              <img alt="project" src="images/Background_food_2.jpg" class="roid"/>
              <p class="flex-caption">Fat sounds good! Let's get fat!</p>
            </li>
            <li>
              <img alt="project" src="images/Background_food_3.jpg" class="roid"/>
              <p class="flex-caption">We're better than the Yelp by a 400% margin!</p>
            </li>
            <li>
              <img alt="project" src="images/Background_food_4.jpg" class="roid"/>
              <p class="flex-caption">You woke up today! Good job!</p>
            </li>
            <li>
              <img alt="project" src="images/Background_food_5.jpg" class="roid"/>
              <p class="flex-caption">Celebrate your uncle getting out of prison.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter) %>

