<body class="sunfire">
  <a id="Top"></a>
  <div id="allconent">
    <div class="contentsection" id="header" style="50% 0 no-repeat; height:645px;">
      <div class="content">
        <h1>Never Miss Your <br>Favorite Dishes</h1>
        <p>How much is left of your favorite dish? Call dibs by ordering with gubly!</p>
        <a href="#Menu" class="button"/>Find a Restaurant &rsaquo;</a>
      </div>
    </div>
    <a id="Events"></a>
    <div class="contentsection dark" style="background:url(images/mastimage.jpg) 50% 50px no-repeat;">
      <div class="content">
        <div class="stage">
          <h1>Events</h1>
          <p class="events">Tag your instagram photos with hashtag #ironbull to appear in our album! We will look over them and add your picture to our site!</p><br>
          <div id="contentright">
            <div id="slideshow" class="flexslider">
              <ul class="slides">
                <li><img alt="project" src="images/fun1.jpg" class="roid"/>
                  <p class="flex-caption">New Year's Eve 2012</p>
                </li>
                <li>
                  <img alt="project" src="images/fun2.jpg" class="roid"/>
                  <p class="flex-caption">Letting the good times roll.</p>
                </li>
                <li>
                  <img alt="project" src="images/fun3.jpg" class="roid"/>
                  <p class="flex-caption">Cinco De Mayo 2012</p>
                </li>
                <li>
                  <img alt="project" src="images/fun4.jpg" class="roid"/>
                  <p class="flex-caption">Random Night</p>
                </li>
                <li>
                  <img alt="project" src="images/fun5.jpg" class="roid"/>
                  <p class="flex-caption">Buy your Mom a draft night.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7888834-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $.get('ajax.html', function(data){
        modal.open({content: data});
      });

      $('a#login').click(function(e){
        modal.open({content: "Hows it going?"});
        e.preventDefault();
      });
    });
  </script>

</body>
