<div class="content">
<h1>Editing order</h1>

<%= render 'form' %>

<%= link_to 'Show', restaurant_order_path(@restaurant, @order) %> |
<%= link_to 'Cancel', restaurant_orders_path(@restaurant) %>
</div>
