<div class="contentsection beige">
  <div class="content">
    <h1>Some Tag Line</h1>
    <h2>With a sub tag line</h2>
    <div id="menu">
      <%= render @items %>
    </div>

    <% if current_user && policy(@restaurant).update? %>
      <%= link_to 'New Item', new_restaurant_item_path, id: "new_link", remote: true %><br>
    <% end %>

    <%= link_to 'Back', restaurant_path(@restaurant) %>

  </div>
</div>

