<h1>Listing items</h1>

<%= render 'table' %>

<br>

<% if current_user && policy(@restaurant).update? %>
  <%= link_to 'New Item', new_restaurant_item_path, id: "new_link", remote: true %><br>
<% end %>

<%= link_to 'Back', restaurant_path(@restaurant) %>
