@media screen and (max-width: 1184px) {

  iframe, img {
    max-width:100%;
  }

  .roid, .tape {
    max-width:none;
  }

  #map img {
    width:auto;
    max-width:none !important;
  }

  #floater {
    display:none;
  }
}

@media screen and (max-width: 1024px) {

  .tape { display:none; }
  .contentsection .content, #footercontent {
    width:90%;
  }

  .footercontent {
    width:90%;
  }

  #navitems {
    width:100%;
  }

  #nav #navitems ul li {
    margin-right:0px;
    font-size:15px;
    margin-right:0px;
  }

  #nav #navitems ul li a {
    padding:0px 5px;
  }

  #header h1 {
    font:800 83px/85px "open sans";
  }

  #header .content p {
    width:100%;
  }

  .jobtable {
    width:100%;
    float:none;
    display:block;
    margin:0 0 20px 0px;
  }

  .contentsection .left, .contentsection #beer {
    float:none;
  }

  .contentsection .left {
    width:100%;
  }

  .contentsection #beer {
    margin:0 auto;
  }

  p.callout {
    width:100%;
  }

  #map, #maplocations {
    width:95%;
    float:none;
    display:block;
  }

  #maplocations {
    margin-top:45px;
    width:100%;
  }

  .locationitem .button, #footer .button {
    margin:0 auto !important;
    float:none !important;
  }
  .telephone {
    text-align:left;
  }

  .contentsection #beer {
    display:none;
  }

  #wheel {
    display:none;
  }

  p.callout.full {
    width:100%;
  }

  .orange {
    background-image:none !important;
  }

  #footercontent .content {
    float:none;
  }

  #footercontent .content p {
    line-height:45px;
  }

  #footer .button {
    display:block;
    float:none;
  }

  .falloff img {
    width:30%;
  }

  #colorpicker {
    display:none;
  }
}

@media screen and (max-width:1360px) {
  .falloff img {
    max-width:29%;
  }
}

@media screen and (max-width: 900px) {
  .contentsection .content h1 {
    font-size:62px;
    line-height:62px;
  }

  #header .content h1 {
    font-size:70px;
    line-height:69px;
  }

  #navitems {
    width:100%;
  }

  #nav #navitems ul li {
    margin-right:0px;
    font-size:14px;
    margin-right:0px;
  }

  #nav #navitems ul li a {
    padding:0px 2px;
  }

  #nav {
    background-image:none;
    background-color:#1C1414;
  }

  #navitems {
    height:auto;
  }

  #nav #navitems ul {
    display:block;
    width:100%;
    float:none;
    margin-left:0px;
    padding-bottom:25px;
  }

  #nav div#logo {
    display:block;
    width:36%;
    margin:0px auto -10px auto;
    float:none;
    position:relative;
  }

  #logo img {
    height:auto;
  }

  .contentsection {
    text-align:center;
  }

  #map_canvas {
    width:94%;
  }

  #nav #navitems ul li a {
    padding:5px;
  }

  #nav #navitems ul li img {
    display:none;
  }

  #footer {
    text-align:center;
  }

  #footer p.copyright {
    float:none;
    width:100%;
  }

  #socialmedia {
    float:none;
    width:100%;
    text-align:center;
  }

  #socialmedia ul li {
    display:inline;
    float:none;
  }

  .seal {
    display:none;
  }

  #header {
    margin-top:30px;
    height:auto !important;
  }

  .col1, .col2 {
    width:46%;
  }

  h2 {
    font-size:21px;
  }

  .menusection h2 {
    font-size:39px;
    margin-bottom:20px;
  }

  #menu p {
    margin-bottom:15px;
  }

  #slideshow {
    width:390px;
    height:auto;
    padding-bottom:40px;
  }

  .polaroid img.roid {
    width:389px;
    height:auto;
  }

  #slideshow .roid {
    height:auto;
  }

  .flex-control-nav {
    position:relative;
    bottom:0px;
  }

  .flex-viewport {
    margin-bottom:20px;
  }
}

@media screen and (max-width: 500px) {

  .contentsection .content h1 {
    font-size:54px;
    line-height:54px;
  }

  #header {
    margin-top:0px;
    padding-bottom:20px;
  }

  #header .content h2 {
    margin-top:0px;
  }

  #header.contentsection .content p {
    font-size:23px;
    line-height:34px;
  }

  #header.contentsection {
    padding-bottom:20px;
  }

  .contentsection .content h1 {
    font-size:51px;
    line-height:51px;
  }

  #header.contentsection h1 {
    font-size:45px;
    line-height:45px;
  }

  #nav #navitems.mobile {
    padding:0;
  }

  #nav #navitems ul li {
    font-size:.5em;
  }

  #nav #navitems ul li a {
    padding:2px;
  }

  .col1, .col2 {
    width:100%;
    margin-top:15px;
  }

  .special img {
    display:none;
  }

  /* Gallery */

  #slideshow {
    width:250px;
    height:auto;
    padding-bottom:40px;
  }

  .polaroid img.roid {
    width:249px;
    height:auto;
  }

  #slideshow .roid {
    height:auto;
  }

  .flex-control-nav {
    position:relative;
    bottom:0px;
  }

  .flex-viewport {
    margin-bottom:20px;
  }

  #contentright {
    width:76%;
    height:438px;
  }

  .polaroid img.tape {
    left:27px;
  }

  .flex-direction-nav a {
    top:30%;
  }

  /* Menu */

  #menu h3 {
    font-size:30px;
    margin-bottom:10px;
  }

  #menu p {
    font-size:23px;
  }

  /* Locations */

  .locationitem h3 {
    font-size:30px;
    margin-bottom:10px;
  }

  .locationitem p {
    font-size:20px;
  }

  .locationitem .button {
    width:85%;
    padding:22px;
    font-size:18px;
  }

  /* Footer */

  #footercontent .content p {
    line-height:24px;
  }

  #footer .button {
    margin-top:10px;
  }
}

@media screen and (max-width: 400px) {
  /* Gallery */

  #slideshow {
    width:220px;
    height:auto;
    padding-bottom:40px;
  }

  .polaroid img.roid {
    width:220px;
    height:auto;
  }

  #slideshow .roid {
    height:auto;
  }

  .flex-control-nav {
    position:relative;
    bottom:0px;
  }

  .flex-viewport {
    margin-bottom:20px;
  }

  #contentright {
    width:84%;
    height:438px;
  }

  .polaroid img.tape {
    left:27px;
  }

  .flex-direction-nav a {
    top:30%;
  }
}
