/* ==================================================
   Buttons
================================================== */

.button-main {
    display: inline-block;
    margin-bottom: 0;
    padding: 12px 24px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #323A45;
    color: #FFFFFF;
    vertical-align: middle;
  line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight:500;
    font-size: 14px;
    cursor: pointer;
  border:none;

  -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    *border: 0;
    *zoom: 1;
}

/*--- Hover/Active/Focus State ---*/

.button-main:hover,
.button-main:active,
.button-main:focus {
  background-color: #F97E76;
  color: #FFFFFF;
}

/* --- Button Sizes --- */

.button-main.button-large {
    padding: 16px 30px;
    font-size: 16px;
}

.button-main.button-small {
    padding: 8px 18px;
    font-size: 13px;
}

.button-main.button-mini {
    padding: 4px 12px;
    font-size: 12px;
}

.button-main.button-block {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.button-main + .button-main {
  margin-left: 10px;
}

/*--- Inverted ---*/

.button-main.inverted {
  background-color: #F97E76;
  color: #FFFFFF;
}

.button-main.inverted:hover,
.button-main.inverted:active,
.button-main.inverted:focus {
  background-color: #323A45;
}

/* ==================================================
   DropDown
================================================== */

.dropmenu {
  cursor: pointer;
  width: 270px;
  height: 46px;
  line-height: 1;
  position: relative;
  overflow: hidden;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  background: #323A45;

  -webkit-transition: background 0.15s ease-in-out 0s;
     -moz-transition: background 0.15s ease-in-out 0s;
     -o-transition: background 0.15s ease-in-out 0s;
        transition: background 0.15s ease-in-out 0s;
}

.dropmenu p {
  display: block;
    font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
    padding: 16px 0 16px 16px;
  margin-bottom: 0;
}

.dropmenu i {
  position: absolute;
  top: 0;
  right: 16px;

  font-size: 16px;
  color: #FFFFFF;
  line-height: 46px;
  margin: 0;

  -webkit-transition: all 0.15s ease-in-out 0s;
     -moz-transition: all 0.15s ease-in-out 0s;
     -o-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s;
}

.dropmenu:hover,
.dropmenu:hover,
.dropmenu.open,
.dropmenu.open {
  background-color: #F97E76;
}

.dropmenu.open i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropmenu-active {
  display: none;
  position: absolute;
  top: 45px;
  width: 270px;


  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;

  background: #323A45;
  color: #FFFFFF;

  z-index: 10;
}

.dropmenu-active ul {
  margin: 0;
  padding: 0;
}

.dropmenu-active ul li {
  list-style: none;
}

.dropmenu-active ul li a {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 500;
    padding: 8px 0 8px 16px;
}

.dropmenu-active ul li a:hover {
  color: #F97E76;
}

.dropmenu-active ul li:first-child a {
  padding-top: 16px;
}

.dropmenu-active ul li:last-child a {
  padding-bottom: 16px;
}

/* ==================================================
   Accordion & Toggle
================================================== */

.accordion-group {
    margin-bottom: 20px;
    border: none;
}

.accordion-heading {
    border-bottom: 0 none;
}

.accordion-heading .accordion-toggle {
  position: relative;
    display: block;
    padding: 15px;
  background: #E9F0F4;
  color: #323A45;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -ms-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
  background: #F97E76;
  color: #FFFFFF;
}

.accordion-heading .accordion-toggle.active {
  background: #F97E76;
  color: #FFFFFF;

  -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

.accordion-heading .accordion-toggle.inactive {
  background: #E9F0F4;
  color: #323A45;
}

.accordion-heading.accordionize .accordion-toggle span,
.accordion-heading.togglize .accordion-toggle span {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0;
    color: #323A45;
    font-size: 18px;

  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -ms-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.accordion-heading:hover .accordion-toggle span {
  color: #FFFFFF;
}

.accordion-heading .accordion-toggle.active span,
.accordion-heading:hover .accordion-toggle.inactive span {
  color: #FFFFFF;
}

.accordion-heading.accordionize .accordion-toggle.active span,
.accordion-heading.togglize .accordion-toggle.active span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-heading.togglize .accordion-toggle span {
  margin: -8px 0 0 0;
  font-size: 18px;
}

.accordion-heading.togglize .accordion-toggle.active span {
  opacity:0;
  filter: alpha(opacity=0);
}

.accordion-heading.togglize .accordion-toggle.active span + span {
  opacity:1;
  filter: alpha(opacity=100);
}

.accordion-inner {
    padding: 8px 15px 10px;

  border-top: none;
  border: 1px solid #E9F0F4;

  -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}

/* ==================================================
   Alerts
================================================== */

.alert {
    margin-bottom: 20px;
    padding: 15px 35px 15px 15px;
  border: none;
  text-shadow: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    background-color: #DBA571;
}

.alert,
.alert h4 {
  color: #FFFFFF;
}

.alert h4 {
    margin: 0;
}

.alert .close {
  position: relative;
    top: 2px;
    right: -22px;
    line-height: 20px;
  color: #FFFFFF;
  text-shadow: none;

  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  -ms-transition: opacity 0.1s linear 0s;
  -o-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

.alert .close:hover {
  opacity: 1;
}

.alert-standard {
    background-color: #E9F0F4;
  color: #323A45;
}

.alert-standard .close {
  color: #323A45;
}

.alert-success {
    background-color: #1F7F5C;
}

.alert-danger,
.alert-error {
    background-color: #E56C69;
}

.alert-info {
    background-color: #5A9AA8;
}


.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

/* ==================================================
   Tabs
================================================== */

.nav {
  margin-bottom: 0px;
    margin-left: 0;
    list-style: none;
}

.nav > li > a {
    display: block;
    color: #323A45;
    font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #F97E76;
  color: #FFFFFF;
    text-decoration: none;
    display: block;
}

.nav > li > a > img {
    max-width: none;
}

.nav > .pull-right {
    float: right;
}

.nav-tabs {
    *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
    display: table;
    content: "";
    line-height: 0;
}

.nav-tabs:after {
    clear: both;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
  float: left;
  margin: 0 4px 0 0;
}

.nav-tabs > li > a {
  background: #E9F0F4;
  padding:15px;
    line-height: 20px;

  -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border: none;
    background-color: #F97E76;
  color: #FFFFFF;
    cursor: default;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: "";
    line-height: 0;
}

.tabbable:after {
    clear: both;
}

.tab-content {
    overflow: auto;
  padding: 20px;

  border-top: none;
  border: 1px solid #E9F0F4;

  -webkit-border-radius: 0 4px 4px 4px;
       -moz-border-radius: 0 4px 4px 4px;
            border-radius: 0 4px 4px 4px;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}


/* ==================================================
   Blockquotes
================================================== */

blockquote {
    margin: 30px 0;
    padding: 0 40px;
    border: none;
}

blockquote p {
    color: #AEAEAE;
    font-size: 18px;
  font-weight: 400;
    font-style: italic;
    line-height: 30px;
}

/* ==================================================
   Tooltip
================================================== */

.tooltip {
    position: absolute;
    z-index: 999;
    display: block;
    visibility: visible;
    padding: 5px;
    font-weight:400;
    font-size: 14px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip.top {
    margin-top: -3px;
}

.tooltip.right {
    margin-left: 3px;
}

.tooltip.bottom {
    margin-top: 3px;
}

.tooltip.left {
    margin-left: -3px;
}

.tooltip-inner {
    padding: 16px;
    max-width: 300px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #F97E76;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    border-width: 10px 10px 0;
    border-top-color: #F97E76;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -15px;
    border-width: 10px 10px 10px 0;
    border-right-color: #F97E76;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -15px;
    border-width: 10px 0 10px 10px;
    border-left-color: #F97E76;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -15px;
    border-width: 0 10px 10px;
    border-bottom-color: #F97E76;
}

/* ==================================================
   Highlight
================================================== */

.color-text {
    color: #F97E76;
}

.highlight-text {
  background-color: #F97E76;
    color: #FFFFFF;
  padding: 0 4px;
}

/* ==================================================
   DropCaps
================================================== */

.dropcap {
  background-color: #E9F0F4;
    color: #323A45;
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: 600;
  width: 46px;
  height: 46px;
  line-height: 46px;
  margin: 0 18px 0 0;
  text-align: center;
}

.dropcap.color {
  background-color: #F97E76;
  color: #FFFFFF;
}


/* ==================================================
   Info Block
================================================== */

.info-block {
  border-left: 2px solid #F97E76;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.info-text {
    padding-right: 20%;
    position: relative;
}

.info-block h3 {
    font-size: 20px;
  font-weight: 600;
  line-height: 1.3em;
  text-transform: uppercase;
}

.info-block p {
  margin-bottom: 0;
}

.info-block a.button-main {
    margin-top: -20px;
    position: absolute;
    right: 0;
    top: 50%;
}

/* ==================================================
   Video
================================================== */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  border: none;
}

/* ==================================================
   Progress Bars
================================================== */

.progress {
  background-color: #E9F0F4;
}

.progress-bar {
  margin: 26px 0 0;
}

.progress {
  position: relative;
  background-image: none;
  height: 46px;
  -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;

  filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
  margin: 0;
}

.progress .bar {
  background-color: #F97E76;
  background-image: none;

  -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;

  filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.progress .field {
  position: absolute;
  color: #FFFFFF;
  line-height: 44px;
  left: 20px;
}


/* ==================================================
   LightBox Image / Video
================================================== */

.lightbox {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}

.lightbox a + img {
  width: 100%;
}

.lightbox .hover-wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.35s ease-in-out 0s;
     -moz-transition: opacity 0.35s ease-in-out 0s;
     -o-transition: opacity 0.35s ease-in-out 0s;
        transition: opacity 0.35s ease-in-out 0s;
}

.lightbox:hover .hover-wrap,
.lightbox:active .hover-wrap,
.lightbox.tapped .hover-wrap {
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox .hover-wrap .overlay-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F97E76;

  opacity: 0.85;
  filter: alpha(opacity=85);
}

.lightbox .hover-wrap .overlay-img-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1em;

  opacity: 1;
  filter: alpha(opacity=100);
}


/* ==================================================
   Pricing Table
================================================== */

.pricing-table {
    display: inline-block;
    margin: 20px 0 14px;
    overflow: hidden;
    width: 100%;
}

.pricing-table h5 {
    background: #23282F;
  color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}

.pricing-table .price {
    background: #323A45;
  border-top: 1px solid #F0F0F0;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}

.pricing-table .price span {
    display: block;
    font-size: 12px;
  font-weight: 400;
}

.pricing-table ul {
    margin: 0;
  padding: 0;
}

.pricing-table li {
    border-bottom: 1px solid #F0F0F0;
    display: block;
  font-size: 14px;
    padding: 10px 0;
    text-align: center;
}

.pricing-table li:last-child {
    border-bottom: none;
}

.pricing-table .button-main.confirm {
    margin-top: 10px;
    padding: 16px 0;
    text-align: center;
    width: 100%;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pricing-table.selected {
  margin-top: 0;
}

.pricing-table.selected h5 {
    background: #FF796F;
    color: #FFFFFF;
    padding: 27px 0;
}

.pricing-table.selected .price {
    background: #F97E76;
    color: #FFFFFF;
}

.pricing-table.selected .price span {
  color: #FFFFFF;
}

.pricing-table.selected li {
  font-weight: 600;
}

.pricing-table.selected .button-main.confirm {
  padding: 24px 0;
}

/* ==================================================
   Icons Example
================================================== */

.icons-example ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.icons-example ul li {
  display: inline-block;
  margin: 15px;
  list-style: none;
  cursor: pointer;
}

.icons-example ul li a {
  display: block;
  width: 70px;
  height: 70px;

  background-color: transparent;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-transition: all 0.35s ease-in-out 0s;
     -moz-transition: all 0.35s ease-in-out 0s;
     -o-transition: all 0.35s ease-in-out 0s;
        transition: all 0.35s ease-in-out 0s;
}

.icons-example ul li a span {
  display: inline-block;
  margin: 0;
  color: #D0DBE2;
  font-size: 32px;
  line-height: 70px;

  opacity: 0.7;
  filter: alpha(opacity=70);

  -webkit-transition: all 0.15s ease-in-out 0s;
     -moz-transition: all 0.15s ease-in-out 0s;
     -o-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s;
}

.icons-example ul li:hover a,
.icons-example ul li.active a {
  background-color: #F97E76;
}

.icons-example ul li:hover a span,
.icons-example ul li.active a span {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* ==================================================
   Show-Grid
================================================== */

.show-grid {
    background-color: #D0DBE2;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
    border-radius: 2px;

    color: #323A45;
    font-size: 13px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    min-height: 40px;
    text-align: center;

  cursor: pointer;

  -webkit-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
     -moz-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
     -o-transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
        transition: background 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

.show-grid:hover {
  background-color: #F97E76;
  color: #FFFFFF;
}
