<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright Grubly Gods</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
