<!-- Desktop Slider -->

  <div class="hide-for-small">
    <div id="featured">
      <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
      <!-- <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
      <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image"> -->
    </div>
  </div>

<!-- End Desktop Slider -->
