<!DOCTYPE html>
<html>
<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<%= render 'layouts/head' %>
<%= render 'layouts/headernav' %>

<div class="container">

  <%= yield %>

</div>


</html>
